Api/venv

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules

# Build artifacts
.DS_Store
dist
dist-ssr
coverage
*.local
/build/
/out/

# Cypress
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python specific
__pycache__/
*.py[cod]
*.pyo

# Temporary files
Thumbs.db
.DS_Store